@model IEnumerable<Person>

    Bugün, @ViewBag.Tarih tarihindeyiz.
    Kullanıcı : @ViewBag.Ad
@if (((DateTime)ViewBag.Tarih).DayOfWeek != DayOfWeek.Saturday && ((DateTime)ViewBag.Tarih).DayOfWeek != DayOfWeek.Sunday)
{
    <p>Hafta içi</p>
}

<table class="table table-striped">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>


        </tr>
    }
</table>
<a asp-controller="Home" asp-action="Response">Davetlisiniz...</a>



